@inherits FlickrGalleryWebPage
@using Connect.DNN.Modules.FlickrGallery.Common;
@{
    FlickrGalleryModuleContext.AddReactJs();
    FlickrGalleryModuleContext.AddModuleScript();
    FlickrGalleryModuleContext.AddCss("bootstrap.min.css");
    FlickrGalleryModuleContext.AddScript("bootstrap.min.js");
}
@{
    var albums = Connect.FlickrGallery.Core.Repositories.AlbumRepository.Instance.GetAlbums(Dnn.ActiveModule.ModuleID);
}

<div class="cfg-buttons">
 @if (FlickrGalleryModuleContext.Settings.OAuthAccessToken != "" & FlickrGalleryModuleContext.Security.CanAdd)
 {
 <a href="@Url.Action("Upload", "Photo")" class="dnnSecondaryAction">@Dnn.LocalizeString("Upload")</a>
 }
 @if (FlickrGalleryModuleContext.Settings.FlickrSharedSecret != "" & FlickrGalleryModuleContext.Security.IsAdmin)
 {
 <a href="@Url.Action("FlickrAuth", "Home")" class="dnnSecondaryAction">@Dnn.LocalizeString("RequestToken")</a>
 }
 <span class="refreshButton" data-moduleid="@Dnn.ModuleContext.ModuleId"></span>
</div>

<div class="flickrGallery"
     data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(FlickrGalleryModuleContext.Security))"
     data-viewtype="@(FlickrGalleryModuleContext.Settings.ViewType)">
</div>

<div class="cfg-albums">
 @foreach (var album in albums.OrderByDescending(a => a.Title))
 {
 <div class="cfg-album">
  <a href="@Url.Action("Album", "Album", new { albumId = album.AlbumId })">
   <img src="@album.LargeSquareThumbnailUrl" width="150" height="150" />
  </a>
  <span>@album.Title</span>
 </div>
 }
</div>
