@using System.Collections.Generic
@using Connect.DNN.Modules.FlickrGallery.Controllers
@using Connect.DNN.Modules.FlickrGallery.Models.Photos
@inherits Connect.DNN.Modules.FlickrGallery.Common.FlickrGalleryWebPage<int>
@{
 if (PageData.Count > 1)
 {
  Model = PageData[0];
 }
 DotNetNuke.Collections.IPagedList<Photo> list = PhotosController.GetPage(Dnn.Module.ModuleID, Model, 50);
}

@foreach (Photo p in list)
{
 <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-src="@p.LargeUrl" data-w="@(p.LargeWidth)" data-h="@(p.LargeHeight)" data-title="@p.Title">
  <a href="@p.LargeUrl" itemprop="contentUrl" data-size="@(p.LargeWidth)x@(p.LargeHeight)">
   <img src="@p.LargeSquareThumbnailUrl" itemprop="thumbnail" alt="Image description" width="150" height="150" />
  </a>
  <figcaption itemprop="caption description">@p.Title</figcaption>
 </figure>
}

@if (list.Count() == 50)
{
 <a href="#" class="scroll-next">@Html.GetLocalizedString("LoadMore")</a>
}