@inherits FlickrGalleryWebPage
@using Connect.DNN.Modules.FlickrGallery.Common;
@using Connect.FlickrGallery.Core.Repositories;
@{
    FlickrGalleryModuleContext.AddModuleScript();
    FlickrGalleryModuleContext.AddCss("dropzone.min.css");
    FlickrGalleryModuleContext.AddScript("dropzone.min.js");
}

<div class="flickrGallery"
     data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-tabid="@Dnn.ModuleContext.TabId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(FlickrGalleryModuleContext.Security))"
     data-viewtype="@(FlickrGalleryModuleContext.Settings.ViewType)">
</div>

<h2>@Dnn.LocalizeString("UploadPhotos")</h2>

<div class="flickrUpload" 
     data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-albums="@(Newtonsoft.Json.JsonConvert.SerializeObject(AlbumRepository.Instance.GetAlbums(Dnn.ModuleContext.ModuleId).OrderBy(a => a.Title)))"
     data-returnurl="@Url.Action("Index", "Home")">
</div>
